body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-size: 1.5rem;
}

#custom-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  width: 30%;
  max-width: 100%;
  height: auto;
  padding: 2%;
  transition: 1000ms;
}

#custom-fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: auto;
  gap: 10px;
}

input {
  font-size: 1em;
  padding: 10px;
  margin-bottom: 0;
}

#f-btn {
  margin: 10px;
  padding: 10px;
  grid-column: 2 / 3;
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.full-width {
  grid-column: 1 / 3;
}

#submit-message {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d4edda;
  color: #155724;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

#submit-message.show {
  opacity: 1;
  visibility: visible;
}

input:invalid {
  border-color: #900;
}

input:focus {
  outline: none;
}

input.untouched:invalid {
  border-color: #555;
}

.error {
  width: 100%;
  padding: 0;
  padding-left: 5px;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

/* ↓ simple dark mode CSS ↓ */
body {
  background-color: #121212; /* Dark background */
  color: #ffffff; /* Light text */
}

input,
textarea,
select,
button {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

a {
  color: #1e90ff;
}

label,
legend {
  color: #ccc;
}

fieldset {
  border: 1px solid #666;
}

input:-webkit-autofill {
  background-color: #333 !important;
  color: #fff !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}
